.link-register
{
    color: rgb(0, 110, 255);
    cursor: pointer;
}
.card-login
{
    width: 300px;
    background-color: white;
    padding: 40px;
}
.div-error
{
    color: rgb(243, 26, 26);
    margin-bottom: 10px;
}